<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-document-heading" data-cy="DocumentCreateUpdateHeading" jhiTranslate="easywritehubApp.document.home.createOrEditLabel">
        Create or edit a DocumentModel
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="easywritehubApp.document.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_author_id" jhiTranslate="easywritehubApp.document.author_id">Author Id</label>
          <input type="number" class="form-control" name="author_id" id="field_author_id" data-cy="author_id" formControlName="author_id" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_content" jhiTranslate="easywritehubApp.document.content">Content</label>
          <input type="text" class="form-control" name="content" id="field_content" data-cy="content" formControlName="content" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_parent_id" jhiTranslate="easywritehubApp.document.parent_id">Parent Id</label>
          <input type="number" class="form-control" name="parent_id" id="field_parent_id" data-cy="parent_id" formControlName="parent_id" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
